{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="jumbotron text-center">
  <h1>{{ title }}</h1>
</div>

<div class="container">
	{% if book_list %}
	    {% for book in book_list %}
	 	<div class="row well">
	    	<div class="col-md-10">
	        	<a style="font-size: 20px;" href="/books/{{ book.id }}/">{{ book.title }}</a>
	        </div>
	        <div class="col-md-2">		        
	        	{% if book.owner == request.user %}
		        	<a href="/books/remove/{{ book.id }}/" class="btn btn-default btn-md pull-right">
		        		<span class="glyphicon glyphicon-trash"></span> Remove
		        	</a>
	    		{% endif %}
	    	</div>
        </div>	
	    {% endfor %}
	{% else %}
		<div class="row well"><div class="col-md-12"><p>No books are available.</p></div></div>
	{% endif %}
	<div class="row"><div class="col-md-12">
		<a href="/books/create/" class="btn btn-default btn-md">
		    <span class="glyphicon glyphicon-plus-sign"></span> Add new book to collection
		</a>
	</div></div>
</div>
{% endblock %}

